<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zty.dao.UserRoleMapper">

<resultMap type="Role" id="Role">
   <id column="id" property="id" javaType="java.lang.Integer" jdbcType="NUMERIC"/>
   <id column="role_name" property="roleName" javaType="java.lang.String" jdbcType="VARCHAR"/>
</resultMap>

<select id="findRolesByUsername" resultType="String">
	SELECT role_name FROM user_role_relation WHERE username = #{username}
</select>

</mapper>